<div class="wrapper">
  <div class="page-header header-filter">
    <!--div class="squares square1"></div-->
    <img class="squares square1" src="assets/img/toma.png" />
    <!--div class="squares square2"></div-->
    <img class="squares square2" src="assets/img/arduino.png" />
    <div class="squares square3"></div>
    <!--div class="squares square4"></div-->
    <img class="squares square4" src="assets/img/tele+telefono.png" />
    <!--div class="squares square5"></div-->
    <img class="squares square5" src="assets/img/phone2.png" />
    <!--div class="squares square6"></div-->
    <img class="squares square6" src="assets/img/tele.png" />
    <!--div class="squares square7"></div-->
    <img class="squares square7" src="assets/img/mascota_03.png" />
    <div class="container">
      <div class="content-center brand">
        <h1 class="h1-seo">MySH•</h1>
        <h3>
          --- My Smart Home --- <p></p> Un nuevo concepto de desarrollo tecnologico integrado con el medio ambiente
        </h3>
      </div>
    </div>
  </div>
  <div class="main">
  </div>

</div>
