<div class="wrapper">
  <div class="page-header">
    <img class="dots" src="assets/img/dots.png" />

    <img class="path" src="assets/img/path4.png" />

    <div class="container align-items-center">
      <div class="row">
        <div class="col-md-12">
          <div class="pl-md-12">
            <h2 style="color: #7aff0f">Ahora basta descarregar nuestra App y empezar!</h2>
          </div>
        </div>
      </div>
      <p></p>
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <h1 class="profile-title text-left">te deseamos la bienvenida!</h1>
          <h5 class="text-on-back">MySH</h5>
          <p class="profile-description">
            Bienvenid@ a My Smart Home una empresa creada a partir de la idea
            que los teléfonos antiguos no deben ir a la basura y que si aún sirven
            para ejectutar tareas basicas de control, comando y seguridad en nuestras casas
          </p>
          <div class="btn-wrapper profile pt-3">
            <a
              class="btn btn-icon btn-twitter btn-round mr-1"
              href="https://twitter.com/MySmarthHome"
              target="_blank"
            >
              <i class="fab fa-twitter"> </i>
            </a>
            <a
              class="btn btn-icon btn-facebook btn-round mr-1"
              href="https://www.facebook.com/MySmarthHome"
              target="_blank"
            >
              <i class="fab fa-facebook-square"> </i>
            </a>
            <a
              class="btn btn-icon btn-dribbble btn-round"
              href="https://dribbble.com/MySmarthHome"
              target="_blank"
            >
              <i class="fab fa-dribbble"> </i>
            </a>
          </div>
        </div>
        <div class="col-lg-6 col-md-8 ml-auto mr-auto">
          <div class="card card-coin card-plain">
            <div class="card-header">
              <img
                class="img-center img-fluid rounded-circle"
                src="assets/img/home.png"
              />

              <h4 class="title">Nuestros Valores</h4>
            </div>
            <div class="card-body">
              <tabset class="nav-tabs-danger justify-content-center tab-subcategories">
                <tab heading="Zero Basura">
                  <div class="col-sm-12">
                    <p style="text-align: center"> Nuestros proyectos son 100% reciclables.
                      Todos los plásticos de los equipos son hechos con
                      materia prima de maíz que se deshacen en 2 años bajo agua.
                      Toda la electrónica embarcada son desarrolladas con módulos
                      Arduinos que servirán para miles de otros proyectos.
                    </p>
                  </div>
                </tab>
                <tab heading="Móvil Antiguo">
                  <div class="col-sm-12">
                    <p style="text-align: center"> Todos tenemos teléfonos móviles antiguos
                      que no utilizamos más. Por eso nosotros hemos creado proyectos utilizando
                      esos móviles que muchas veces se quedan guardados o en la basura. Imagine
                      que en un teléfono móvil antiguo posee conexión WiFi, Bluetooth, procesador,
                      giroscopio, pantalla LCD y muchas otras funcionalidades que pueden y deben
                      ser utilizadas para ejecutar tareas que facilitarán nuestras vidas.
                    </p>
                  </div>
                </tab>
                <tab heading="Indicar MySH">
                  <div class="row">
                    <label class="col-sm-3 col-form-label"> Su Correo </label>
                    <div class="col-sm-9">
                      <div class="form-group">
                        <input
                          class="form-control"
                          placeholder="Su correo"
                          type="text"
                        />
                        <span class="form-text">
                          Please enter a valid address.
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <label class="col-sm-3 col-form-label"> Correo de su amigo </label>
                    <div class="col-sm-9">
                      <div class="form-group">
                        <input
                          class="form-control"
                          placeholder="Correo de amigo"
                          type="text"
                        />
                      </div>
                    </div>
                  </div>
                  <button
                    class="btn btn-simple btn-danger btn-icon btn-round float-right"
                    type="submit">
                    <i class="tim-icons icon-send"> </i>
                  </button>
                </tab>
              </tabset>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-md-6">
          <div class="row justify-content-between align-items-center">
            <carousel [showIndicators]="true">
              <slide>
                <img alt="First slide" class="d-block" src="assets/img/atm-sin-fondo.png"/>
                <div class="carousel-caption d-none d-md-block">
                  <h4>Alimentador automatico para mascotas</h4>
                </div>
              </slide>
              <slide>
                <img alt="Second slide" class="d-block" src="assets/img/automatico-sin-fondo.png"/>

                <div class="carousel-caption d-none d-md-block">
                  <h4>Automatico Inteligente</h4>
                </div>
              </slide>
              <slide>
                <img alt="Third slide" class="d-block" src="assets/img/mySH-equipo.png"/>
                <div class="carousel-caption d-none d-md-block">
                  <h4>MySH Controller</h4>
                </div>
              </slide>
              <slide>
                <img alt="Third slide" class="d-block" src="assets/img/mySH-equipo-abierto.png"/>
                <div class="carousel-caption d-none d-md-block">
                  <h4>MySH Controller</h4>
                </div>
              </slide>
              <slide>
                <img alt="Fourth slide" class="d-block" src="assets/img/alarma-puerta.jpg" width="610" height="330"/>
                <div class="carousel-caption d-none d-md-block">
                  <h4 style="color: #1a1e34;">Alarma de Puertas - Brevemente</h4>
                </div>
              </slide>
            </carousel>
          </div>
        </div>
        <div class="col-md-5">
          <h1 class="profile-title text-left">Projects</h1>
          <h5 class="text-on-back">02</h5>
          <p class="profile-description text-left">
            Nuestros proyectos siempre están pensados de manera que no afecten al medio ambiente.
            Desde el desarrollo hasta la eliminación / reutilización de los componentes,
            nuestra empresa garantiza el máximo uso y reutilización de todas las partes de sus productos.
          </p>
          <div class="btn-wrapper pt-3">
            <button
              class="btn btn-simple btn-danger mr-1"
              href="javascript:void(0)"
            >
              <i class="tim-icons icon-book-bookmark"> </i> Bookmark
            </button>
            <button class="btn btn-simple btn-info" href="javascript:void(0)">
              <i class="tim-icons icon-bulb-63"> </i> Check it!
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="card card-plain">
            <div class="card-header">
              <h1 class="profile-title text-left">Queremos vuestras opniones</h1>
              <h5 class="text-on-back">Contacto</h5>
            </div>
            <div class="card-body">
              <form>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label> Nombre </label>
                      <input class="form-control" type="text" value="Nombre" />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label> Correo Electronico </label>
                      <input
                        class="form-control"
                        placeholder="mysh@mysh.com"
                        type="email"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label> Teléfono </label>
                      <input
                        class="form-control"
                        type="text"
                        value="123-456-789"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label> Message </label>
                      <input
                        class="form-control"
                        placeholder="Hello there!"
                        type="text"
                      />
                    </div>
                  </div>
                </div>
                <button
                  class="btn btn-danger btn-round float-right"
                  placement="right"
                  type="submit"
                >
                  Send text
                </button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-4 ml-auto">
          <div class="info info-horizontal">
            <div class="icon icon-danger">
              <i class="tim-icons icon-square-pin"> </i>
            </div>
            <div class="description">
              <h4 class="info-title">Find us at the office</h4>
              <p>
                Bld Mihail Kogalniceanu, nr. 8, <br />

                7652 Bucharest, <br />

                Romania
              </p>
            </div>
          </div>
          <div class="info info-horizontal">
            <div class="icon icon-danger">
              <i class="tim-icons icon-mobile"> </i>
            </div>
            <div class="description">
              <h4 class="info-title">Give us a ring</h4>
              <p>
                Michael Jordan <br />

                +40 762 321 762 <br />

                Mon - Fri, 8:00-22:00
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
