<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h1 class="title">MySH•</h1>
                <img src="assets/img/logo_02.png" width="100" height="120">
            </div>
            <div class="col-md-3">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/home']"> Home </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/register']"> Register </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/nosotros']"> Sobre Nosotros </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="nav">
                    <li class="nav-item">
                        <a href="mailto:suporte@mysmarthome.com">Contacto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/blog']"> Blog </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/proyectos']"> Proyectos </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <h3 class="title">Follow us:</h3>
                <div class="btn-wrapper profile">
                    <a
                            class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
                            href="https://twitter.com/mysmarthome"
                            target="_blank"
                    >
                        <i class="fab fa-twitter"> </i>
                    </a>
                    <a
                            class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
                            href="https://www.facebook.com/mysmarthome"
                            target="_blank"
                    >
                        <i class="fab fa-facebook-square"> </i>
                    </a>
                    <a
                            class="btn btn-icon btn-neutral btn-round btn-simple"
                            href="https://dribbble.com/mysmarthome"
                            target="_blank"
                    >
                        <i class="fab fa-dribbble"> </i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
